<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :autofocus => true, :class => 'form-control input-sm', :placeholder => 'Name', :style => 'width:200px' %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'form-control', :rows => '2', :placeholder => 'Description', :style => 'width:200px' %>
  </div>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_area :author, :class => 'form-control', :rows => '1', :placeholder => 'Author', :style => 'width:200px' %>
  </div>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url, :class => 'form-control', :rows => '1', :placeholder => 'URL', :style => 'width:200px' %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_area :country, :class => 'form-control', :rows => '1', :placeholder => 'Country', :style => 'width:200px' %>
  </div>

  <div class="actions">
    <%= f.submit "Create Idea", :class => 'btn btn-success' %>

  </div>
<% end %>
