<h2>Detailed ideas</h2>

<div style="display: inline-block;">

	<table style="border: 1px solid black; ">
	  <thead>
	    <tr>
	      <th style="text-align:center">Name</th>
	      <th style="text-align:center">Description</th>
	      <th style="text-align:center">User</th>
		  <th></th>
		  <th style="text-align:center">Author</th>
		  <th style="text-align:center">URL</th>
		  <th style="text-align:center">Country</th>
	    </tr>
	  </thead>

	  <tbody>

	  	<% @ideas.each do |idea| %>
	      <tr>
	        <td style="text-align:center"><%= idea.name %></td>
	        <td style="text-align:center"><%= idea.description %></td>

			<!-- USER -->

		    <% if !idea.user.nil? %> 
		        <td style="text-align:center"><%= idea.user %></td>
		    <% elsif %>
		        <td></td>
			<% end %>

			<!-- IDEA DETAILS (IF FILTERED) -->
		    <% if !idea.author.nil? %> 
		        <td style="text-align:center"><%= idea.author %></td>
		    <% end %>
		    <% if !idea.url.nil? %> 
		        <td style="text-align:center"><%= idea.url %></td>
		    <% end %>
		    <% if !idea.country.nil? %> 
		        <td style="text-align:center"><%= idea.country %></td>
			<% end %>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>





