<% provide(:title, 'Stage 2') %>
	    	
<%= hidden_field_tag 'stage2', true %>

<h2>Detailed Ideas</h2>

<div style="display: inline-block;">

	<table style="border: 1px solid black; ">
	  <thead>
	    <tr>
	      <th style="text-align:center" class="name_desc">Name</th>
	      <th style="text-align:center" class="name_desc">Description</th>
	      <th style="text-align:center" class="user">User</th>
		  <th style="text-align:center" class="auth_locn_url">Author</th>
		  <th style="text-align:center" class="auth_locn_url">URL</th>
		  <th style="text-align:center;" class="auth_locn_url">Country</th>
	    </tr>
	  </thead>

	  <tbody>

	  	<% @ideas.each do |idea| %>
	      <tr style="background-color:<%= cycle("#ffeeff", "#cceeff", name: "colors") -%>">
	        <td style="text-align:center"><%= idea.name %></td>
	        <td style="text-align:center"><%= truncate(idea.description, length:7) { link_to "Continue", idea } %></td>	

			<!-- USER -->

		    <% if !idea.user.nil? %> 
		        <td style="text-align:center"><%= idea.user_id %></td>
		    <% elsif %>
		        <td></td>
			<% end %>

			<!-- IDEA DETAILS (IF FILTERED) -->
		    <% if !idea.author.nil? %> 
		        <td style="text-align:center"><%= idea.author %></td>
		    <% elsif %>
		        <td></td>
			<% end %>
		    <% if !idea.url.nil? %> 
		        <td style="text-align:center"><%= truncate(idea.url, length:10) { link_to "Continue", idea } %></td>

		    <% elsif %>
		        <td></td>
			<% end %>
		    <% if !idea.country.nil? %> 
		        <td style="text-align:center"><%= idea.country %></td>
			<% elsif %>
		        <td></td>
			<% end %>
		  </tr>


		<% end %>

		<% reset_cycle("colors") %>
	  </tbody>
	</table>
</div>


<div class="sorting">

<h2>Choose Next Action:</h2>

		<%= form_tag '/ideas/results', :method => 'post' do %>

	  		<div style="background-color: #ffbbee">

			    <p>
			    	<% @ideas.each do |idea| %>
			    	<!-- HIDDEN FIELD TO CAPTURE IDEA KEYWORDS FOR COMPARE WITH API -->
						<%= hidden_field_tag 'ideas_names[]', idea.name %>
						<%= hidden_field_tag 'ideas_countries[]', idea.country %>
					
				    <% end %>

				    	<ul>
				    		<li><strong>Next:</strong> <%= submit_tag("Proceed to Compare Trending Twitter Keywords", data: { disable_with: "Please wait.." }, class: "btn btn-success") %>
				    			<a href="http://api.whatthetrend.com/">
<img src="http://api.whatthetrend.com/images/wtt_api_badge_120.png" border="0">
</a>
				    		</li>
				    	</ul>
				</p>

			</div>
		<% end %>
</div>





