<% provide(:title, 'Stage 1') %>

<!-- FORM START -->

	  	<%= form_tag '/ideas#form', :name => 'form1', :method => 'get' do %>

<a name="anchor" id="form" ></a>
<% if !@lock_select %>  
	<h2>Listing Ideas:</h2>
<% elsif @lock_select %>
	<h2>Filtered Ideas:</h2>
<% else %>
	raise "error title"
<% end %>

<div style="display: inline-block;">
	<table style="border: 1px solid black; ">
	  <thead>
	    <tr>
	      <th style="text-align:center" class="name_desc">Name</th>
	      <th style="text-align:center" class="name_desc">Description</th>
	      <th style="text-align:center" class="user">User</th>

		<% if !@lock_select %>  
		  <th style="text-align:center" class="worthy">Worthy?</th>
	    <% elsif @lock_select %>
	    	<td></td>
	    <% else %>
	    	raise "error lock select"
        <% end %>


<!-- REMOVED 1 -->

		  <!-- NOT SHOW WHEN UPLOADED TO HEROKU -->

	      <th style="text-align:center;" class="show_edit">Show</th>
	      <th style="text-align:center;" class="show_edit">Edit</th>
	      <!--<th style="text-align:center;">Destroy</th>-->

	    </tr>
	  </thead>

	  <tbody>

	  	<% @ideas.each do |idea| %>
	      <tr style="background-color:<%= cycle("#ffeeff", "#cceeff", name: "colors") -%>">
	        <td style="text-align:center" class="idea_table_main">
	        	<%= highlight(idea.name, params[:idea_name]) %>
	        </td>


	        <td style="text-align:center"><%= truncate(idea.description, length:10) { link_to "Continue", idea } %></td>		

			<!-- USER -->
			      <% if !idea.user.nil? %> 
			        <td style="text-align:center"><%= idea.user_id %></td>
			      <% elsif %>
			      	<td></td>
				  <% end %>

			<!-- FORM TAGS -->

		<% if !@lock_select %>  
			<td style="text-align:center; vertical-align: top; background-color: #ffee99">
		          <%= label_tag :filter, "" %>
		          <%= check_box_tag 'filter_values[]', idea.id, false %>
				  
		          <%#= check_box(:accepted, 'false', selected:false) %>
	        </td>
	    <% elsif @lock_select %>
	    	<%= hidden_field_tag 'ideas_ids[]', idea.id %>
	    	<td></td>
	    <% else %>
	    	raise "error lock select"
        <% end %>
        

<!-- REMOVED 2 -->


			<!-- NOT SHOW WHEN UPLOADED TO HEROKU -->

			
	        <td style="text-align:center;"><%= link_to 'Show', idea %></td>
	        <td style="text-align:center;"><%= link_to 'Edit', edit_idea_path(idea) %></td>
	        <!--<td><%#= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
	    

	      </tr>

	    <% end %>

    	<% reset_cycle("colors") %>


<%= will_paginate @ideas %>

	<%# if !@lock_select_submit %>  
<!--
		<div style="display: inline-block; float: right;">
			<%#= link_to 'Create Hunch', '/ideas', method: :get %>


			<%#= image_submit_tag("button.png", data: { disable_with: "Please wait.." }) %>
		</div>



	<%# elsif @lock_select_submit %>
		<div>
			<p><%#= link_to 'Show All', '/', method: :get, data: { confirm: 'Are you sure?' } %>
			</p>
		</div>
	<%# else %>
		raise "error lock select"
	<%# end %>
-->


<!-- SELECT ALL START -->
<% if !@lock_select_submit %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;<label for="selectall" id="selectControl">Select All</label>
    &nbsp;<input type="checkbox" id="selectall" />

<script>
    function Check(frm){
      var checkBoxes = frm.elements['filter_values[]'];
      for (i = 0; i < checkBoxes.length; i++){
        checkBoxes[i].checked = (selectControl.innerHTML == "Select All") ? 'checked' : '';
      }
      selectControl.innerHTML = (selectControl.innerHTML == "Select All") ? "Unselect All" : 'Select All';
    }
    
    window.onload = function(){
      var selectControl = document.getElementById("selectall");
      selectControl.onclick = function(){Check(document.form1)};
    };
  </script>

<% end %>

<!-- SELECT ALL END -->

		<% end %> 
<!-- FORM END -->

<!-- FORM 2 START -->
	
	  </tbody>
	</table>

</div>

<div class="sorting">

<h2>Choose Next Action:</h2>

		<%= form_tag '/ideas/details', :method => 'post' do %>

	  		<div style="width: 600px;">

			    <p>
			    	<% @ideas.each do |idea| %>
						<%= hidden_field_tag 'ideas_ids[]', idea.id %>
					
				    <% end %>

				    <% if @lock_select_submit %>  
				    	<ul>
				    		<li><strong><span class="label_tag">Next:</span></strong> <%= submit_tag("Proceed to Detail", data: { disable_with: "Please wait.." }, class: "btn btn-success") %>
				    		</li>
				    	</ul>
				    <% end %>
				</p>

			</div>
		<% end %>


    <% if !@lock_select_submit %>
			<p style="background-color: #ffbbee; ">
				<ul>
					<li><strong><%= label_tag(:search, "Search:", class: "label_tag") %></strong>  
			<%= text_field_tag(:idea_name) %>
			<%= submit_tag("Filter Ideas", data: { disable_with: "Please wait.." }, class: "btn btn-primary") %><span class="help-block">Enter a single keyword to search the listing of ideas.</span>
					</li>
				</ul>
			</p>
	<% end %>
	<% if @lock_select_submit %>
			<p>
				<ul>
					<li><strong><%= label_tag(:search, "Search:", class: "label_tag") %></strong>  
			<%= text_field_tag(:idea_name) %>
			<%= submit_tag("Filter", data: { disable_with: "Please wait.." }, class: "btn btn-default") %>
					</li>
				</ul>
			</p>
	<% end %>

	<% if @lock_select_submit %>
			<p style="background-color: #ff6699">
				<ul>
					<li><strong><span class="label_tag">List:</span></strong> <%= link_to 'Show All Ideas', '/#form', method: :get, id: 'anchor_source' %> 
				<!-- , data: { confirm: 'Are you sure?' } -->
					</li>
				</ul>
			</p>
	<% end %>

			<p>
				<ul>
				    <li><strong><span class="label_tag">Create:</span></strong> 
				    	<%= button_tag(link_to 'New Idea', new_idea_path, class: "btn btn-success", style: 'color:#ffffff') %>
				    </li>
				</ul>
			</p>


</div>




