<% provide(:title, 'Stage 1') %>

<!-- FORM START -->

	  	<%= form_tag '/ideas', :method => 'get' do %>

<% if !@lock_select %>  
	<h2>Listing ideas:</h2>
<% elsif @lock_select %>
	<h2>Filtered ideas:</h2>
<% else %>
	raise "error title"
<% end %>

<div style="display: inline-block;">
	<table style="border: 1px solid black; ">
	  <thead>
	    <tr>
	      <th style="text-align:center">Name</th>
	      <th style="text-align:center">Description</th>
	      <th style="text-align:center">User</th>

		<% if !@lock_select %>  
		  <th style="text-align:center">Worthy?</th>
	    <% elsif @lock_select %>
	    	<td></td>
	    <% else %>
	    	raise "error lock select"
        <% end %>


<!-- REMOVED 1 -->

		  <!-- NOT SHOW WHEN UPLOADED TO HEROKU -->

	      <th style="text-align:center;">Show</th>
	      <th style="text-align:center;">Edit</th>
	      <!--<th style="text-align:center;">Destroy</th>-->

	    </tr>
	  </thead>

	  <tbody>

	  	<% @ideas.each do |idea| %>
	      <tr style="background-color:<%= cycle("#ffeeff", "#cceeff", name: "colors") -%>">
	        <td style="text-align:center"><%= idea.name %></td>
	        <td style="text-align:center"><%= truncate(idea.description, length:7) { link_to "Continue", idea } %></td>		

			<!-- USER -->
			      <% if !idea.user.nil? %> 
			        <td style="text-align:center"><%= idea.user_id %></td>
			      <% elsif %>
			      	<td></td>
				  <% end %>

			<!-- FORM TAGS -->

		<% if !@lock_select %>  
			<td style="text-align:center; vertical-align: top;">
		          <%= label_tag :filter, "" %>
		          <%= check_box_tag 'filter_values[]', idea.id, false %>
				  
		          <%#= check_box(:accepted, 'false', selected:false) %>
	        </td>
	    <% elsif @lock_select %>
	    	<%= hidden_field_tag 'ideas_ids[]', idea.id %>
	    	<td></td>
	    <% else %>
	    	raise "error lock select"
        <% end %>
        	

<!-- REMOVED 2 -->


			<!-- NOT SHOW WHEN UPLOADED TO HEROKU -->

			
	        <td style="text-align:center;"><%= link_to 'Show', idea %></td>
	        <td style="text-align:center;"><%= link_to 'Edit', edit_idea_path(idea) %></td>
	        <!--<td><%#= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
	    

	      </tr>
	    <% end %>

    	<% reset_cycle("colors") %>


	<%# if !@lock_select_submit %>  
<!--
		<div style="display: inline-block; float: right;">
			<%#= link_to 'Create Hunch', '/ideas', method: :get %>


			<%#= image_submit_tag("button.png", data: { disable_with: "Please wait.." }) %>
		</div>



	<%# elsif @lock_select_submit %>
		<div>
			<p><%#= link_to 'Show All', '/', method: :get, data: { confirm: 'Are you sure?' } %>
			</p>
		</div>
	<%# else %>
		raise "error lock select"
	<%# end %>
-->


		<% end %> 
<!-- FORM END -->

<!-- FORM 2 START -->
	
	  </tbody>
	</table>

</div>

<div class="sorting">

<h2>Choose Action:</h2>
	<% if @lock_select_submit %>
			<p style="background-color: #ff6699">
				<ul>
					<li><strong>List:</strong> <%= link_to 'Show All Ideas', '/', method: :get %> 
				<!-- , data: { confirm: 'Are you sure?' } -->
					</li>
				</ul>
			</p>
	<% end %>
    <% if !@lock_select_submit %>
			<p>
				<ul>
					<li><strong><%= label_tag(:search, "Search or Filter:") %></strong>  
			<%= text_field_tag(:idea_name) %>
			<%= submit_tag("Search or Filter Ideas", data: { disable_with: "Please wait.." }) %>
					</li>
				</ul>
			</p>
	<% end %>
	<% if @lock_select_submit %>
			<p>
				<ul>
					<li><strong><%= label_tag(:search, "Search:") %></strong>  
			<%= text_field_tag(:idea_name) %>
			<%= submit_tag("Search Ideas", data: { disable_with: "Please wait.." }) %>
					</li>
				</ul>
			</p>
	<% end %>
			<p>
				<ul>
				    <li><strong>Create:</strong> <%= link_to 'New Idea', new_idea_path %>
				    </li>
				</ul>
			</p>

		<%= form_tag '/ideas/details', :method => 'post' do %>

	  		<div>

			    <p>
			    	<% @ideas.each do |idea| %>
						<%= hidden_field_tag 'ideas_ids[]', idea.id %>
					
				    <% end %>

				    <% if @lock_select_submit %>  
				    	<ul>
				    		<li><strong>Next:</strong> <%= submit_tag("Proceed to Detail", data: { disable_with: "Please wait.." }) %>
				    		</li>
				    	</ul>
				    <% end %>
				</p>

			</div>
		<% end %>
</div>





