<% provide(:title, 'Stage 4') %>
	    	
<%= hidden_field_tag 'stage4', true %>

<h2>Chosen Ideas</h2>

<div style="display: inline-block;">

	<table style="border: 1px solid black; ">
	  <thead>
	    <tr>
	      <th style="text-align:center">Name</th>
		  <th style="text-align:center">Country</th>
	    </tr>
	  </thead>

	  <tbody>

	  	<% @ideas.each do |idea| %>
	      <tr style="background-color:<%= cycle("#ffeeff", "#cceeff", name: "colors") -%>">
	        <td style="text-align:center"><%= idea.name %></td>

		    <% if !idea.country.nil? %> 
		        <td style="text-align:center"><%= idea.country %></td>
			<% elsif %>
		        <td></td>
			<% end %>
		  </tr>

		<% end %>

		<% reset_cycle("colors") %>
	  </tbody>
	</table>
</div>

<h2>Results of Comparison</h2>
<strong>@ideas_locations_mod</strong><%= @ideas_locations_mod %><br>
<div style="display: inline-block; margin-left: 40px;">	

	<h4><span style="background-color:#ccdddd;">World current trending locations</span> (refer to <a href="http://api.whatthetrend.com/">locations/current</a>):</h4>
	<p style="margin-left: 20px;">The locations of the authors of your ideas compare with 
	<span style="color:red;"><%= @trend_count %></span> trending locations,
	including:
		<ul>
	 	<% @trend_array.each do |trend| %>
	 		<li><%= trend %></li>
	 	<% end %>
		</ul>
	</p>

</div>

<div class="sorting">

<h2>Choose Next Action:</h2>

			<p style="background-color: #ffbbee">
				<ul>
					<li><strong>List:</strong> <%= link_to 'Finish and Compare Other Ideas', '/', method: :get %> 
				<!-- , data: { confirm: 'Are you sure?' } -->
					</li>
				</ul>
			</p>

</div>