<% provide(:title, 'Stage 3') %>
	    	
<%= hidden_field_tag 'stage3', true %>

<h2>Chosen Ideas to Compare.</h2>

<div style="display: inline-block;">

	<table style="border: 1px solid black; ">
	  <thead>
	    <tr>
	      <th style="text-align:center">Name</th>
		  <th style="text-align:center">Country</th>
	    </tr>
	  </thead>

	  <tbody>

	  	<% @ideas.each do |idea| %>
	      <tr style="background-color:<%= cycle("#ffeeff", "#cceeff", name: "colors") -%>">
	        <td style="text-align:center"><%= idea.name %></td>

		    <% if !idea.country.nil? %> 
		        <td style="text-align:center"><%= idea.country %></td>
			<% elsif %>
		        <td></td>
			<% end %>
		  </tr>

		<% end %>

		<% reset_cycle("colors") %>
	  </tbody>
	</table>
</div>

<h2>Results of Comparison</h2>
<strong>@ideas_names_mod</strong><%= @ideas_names_mod %>
<div style="display: inline-block; margin-left: 40px;">	
	<h4><span style="background-color:#ccdddd;">Twitter's current trending terms</span> (refer to <a href="http://api.whatthetrend.com/">trends.format</a>):</h4>
	<p style="margin-left: 20px;">The names and descriptions of your ideas compare with 
	<span style="color:red;"><%= @trend_count %></span> trends,
	including:
		<ul>
	 	<% @trend_array.each do |trend| %>
	 		<li><%= trend %></li>
	 	<% end %>
		</ul>
	</p>

</div>

<div class="sorting">

<h2>Choose Action:</h2>

		<%= form_tag '/ideas/results2', :method => 'post' do %>

	  		<div style="background-color: #ffbbee">

			    <p>
			    	<% @ideas.each do |idea| %>
			    	<!-- HIDDEN FIELD TO CAPTURE IDEA KEYWORDS FOR COMPARE WITH API -->
						<%= hidden_field_tag 'ideas_names[]', idea.name %>
					
				    <% end %>

				    	<ul>
				    		<li><strong>Next:</strong> <%= submit_tag("Proceed to Compare with Trending Keywords", data: { disable_with: "Please wait.." }) %>
				    			<a href="http://api.whatthetrend.com/">
<img src="http://api.whatthetrend.com/images/wtt_api_badge_120.png" border="0">
</a>
				    		</li>
				    	</ul>
				</p>

			</div>
		<% end %>
</div>





