<!DOCTYPE html>
<html>
<head>
  <title>IdeasApp | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

 	<style>
    	.js .info_slide { display: none; } /* // */
    	.close { cursor: pointer; } /* cursor hand/pointer/help/move/progress */
    </style>
 
 <script>
	
	$(window).resize(function(){
		var viewportWidth = $(window).width();
		$('#monitor').html(viewportWidth);
	});

	$('.typeahead').typeahead({
		source: function (typeahead, query) {
		 /* put your ajax call here..
		 return $.get('/typeahead', { query: query }, function (data) {
		    return typeahead.process(data);
		 });
		 */
		 return ['alpha','beta','bravo','delta','epsilon','gamma','zulu'];
		}
	});
	$("[data-toggle=popover]").popover();
	$("[data-toggle=tooltip]").tooltip();
	$('#myTab a').click(function (e) {
		 e.preventDefault();
		 $(this).tab('show');
	});

	$(function () {
	$('#myTab a:last').tab('show');
	})$('#openBtn').click(function(){
		$('#myModal').modal({show:true})
	});

	/* alert pop-up with info about each stage */
	$(".alert").addClass("in").fadeOut(3500);

 </script>


</head>
<body>

	<header>


<nav class="navbar navbar-inverse" role="navigation" style="background-color:#333333">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <a class="navbar-brand" href="#" style="color:#ff4499"><i class="glyphicon glyphicon-legal"><strong>Trendmyhunch</strong></i></a> 
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <% if @stage == 1 && @lock_select_submit == false %>
      <li class="active"><%= link_to 'Home', root_path %></li>
      <% else %>
      <li><%= link_to 'Home', root_path %></li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
        <% if !user_signed_in? %>
          <li><%= link_to "Login", new_user_session_path  %></li>	
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
		<% else %>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
        </ul>
      </li>
    </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
        <ul class="dropdown-menu">
		  <li><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal" style="text-align: left">Feedback</a></li>
          <li><%= link_to 'Help', static_pages_help_path %></li>
          <li><%= link_to 'About Us', static_pages_about_us_path %></li>
		  <li><%= link_to 'Google Analytics', ga_ideas_path %></li>
          <li><%= link_to "Luke's Blog", 'http://lukeschoen.blogspot.com' %></li>
          <li><%= link_to 'Contact Us', static_pages_contact_us_path %></li>
          <li><%= link_to 'Partners', 'https://generalassemb.ly' %></li>
        </ul>
      </li>
    </ul>
    </div>
   
</nav>


	<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="zoom: 1.25; filter: alpha(opacity=50); opacity: 0.9; background-color: #99aaee;">
		<div class="modal-dialog">
			<div class="modal-content">

			<%= form_for('/ideas/mailer', :method => 'post', :url => mailer_ideas_path ) do |f| %>
			<%#= devise_error_messages! %>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Feedback Message &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= f.submit "Send", :class => 'btn btn-success' %><br>
					<h5><span style="color:red">WARNING: THIS FEATURE IS NOT YET FUNCTIONAL</span></h5>
					<% if flash[:alert].present? %>
					<h1 style="color:red">Please check all fields completed before submitting feedback.</h1>
					<% end %>
					<% if flash[:notice].present? %>
					<h1 style="color:red">Error sending mail.</h1>
					<% end %>
					</h3>

				</div>

				<div class="modal-body">
					<%= f.label :record%>
					<%= f.text_field :record, :class => 'form-control input-sm', :placeholder => 'enter record for TESTING ONLY', :style => 'width:400px' %>		
				</div>

				<div class="modal-body">
					<%= f.label :message%>
					<%= f.text_field :message, :class => 'form-control input-sm', :placeholder => 'Please help us by telling us how to improve the website…', :style => 'width:400px' %>		
				</div>

  				<div class="modal-body"><%= f.label :name%><br />
  					<%= f.text_field :name, :class => 'form-control input-sm', :placeholder => 'Your Name', :style => 'width:400px' %>
  				</div>
 
				<div class="modal-body">
				  	<%= f.label :email %><br />
  					<%= f.email_field :email, :class => 'form-control input-sm', :placeholder => 'Your Email Address', :style => 'width:400px' %>
  				</div>

			<% end %>

			</div>
		</div>
	</div>



	</header>

	<div id="nav">

  		<%= render partial:'/shared/nav' %>

	</div>



	<div>

		<%= yield %>

	</div>

	<div id="ga">

		<% if Rails.env.production? %>
  		<%= render partial:'/shared/ga' %>
		<% end %>
		
	</div>


	<footer>

  		<%= render partial:'/shared/footer' %>

	</footer>

	<script type="text/javascript" src="./jquery.js"></script>
</body>
</html>
