<!DOCTYPE html>
<html>
<head>
  <title>IdeasApp | <%= yield(:title) %></title>


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>
<body>

	<header>



	</header>

	<div id="nav">

  		<%= render partial:'/shared/nav' %>

	</div>



	<div>

		<%= yield %>

	</div>
	<footer>

  		<%= render partial:'/shared/footer' %>

	</footer>

</body>
</html>
